{
  "openapi": "3.1.0",
  "info": {
    "title": "Zine REST API",
    "version": "1.8.0",
    "description": "REST API for reading and managing the Zine home dashboard, inbox items, bookmarks, creators, tags, article content, progress, subscriptions across supported sources, and sync jobs. Requests may authenticate with a Clerk session token or a scoped Zine personal access token."
  },
  "servers": [
    {
      "url": "https://api.myzine.app",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local worker development"
    }
  ],
  "tags": [
    {
      "name": "Metadata",
      "description": "API metadata and machine-readable documentation."
    },
    {
      "name": "Home",
      "description": "Read the ordered, personalized dashboard shelves."
    },
    {
      "name": "Inbox",
      "description": "Read and triage unbookmarked inbox items."
    },
    {
      "name": "Bookmarks",
      "description": "Read, save, update, and remove bookmarked items."
    },
    {
      "name": "Creators",
      "description": "Read creator profiles, bookmarked content, and provider-backed latest content."
    },
    {
      "name": "Tags",
      "description": "List and replace bookmark tags."
    },
    {
      "name": "Reading",
      "description": "Article content, opened events, and reading/playback progress."
    },
    {
      "name": "Subscriptions",
      "description": "Manage provider subscriptions. The current REST surface is scoped to YouTube."
    },
    {
      "name": "Sync",
      "description": "Trigger and inspect asynchronous subscription sync jobs."
    }
  ],
  "paths": {
    "/api/v1/openapi.json": {
      "get": {
        "tags": ["Metadata"],
        "operationId": "getOpenApiSpec",
        "summary": "Get the OpenAPI document",
        "security": [],
        "x-api-status": "current",
        "responses": {
          "200": {
            "description": "OpenAPI document for the Zine REST API."
          }
        }
      }
    },
    "/api/v1/creators/{creatorId}": {
      "get": {
        "tags": ["Creators"],
        "operationId": "getCreator",
        "summary": "Get a creator profile",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["bookmarks:read"],
        "x-api-status": "current",
        "parameters": [{ "$ref": "#/components/parameters/CreatorId" }],
        "responses": {
          "200": {
            "description": "Creator profile.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatorResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/creators/{creatorId}/bookmarks": {
      "get": {
        "tags": ["Creators"],
        "operationId": "listCreatorBookmarks",
        "summary": "List bookmarks from a creator",
        "description": "Returns all content the authenticated user has bookmarked from this creator, newest bookmark first.",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["bookmarks:read"],
        "x-api-status": "current",
        "parameters": [
          { "$ref": "#/components/parameters/CreatorId" },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Cursor" },
          {
            "name": "isFinished",
            "in": "query",
            "description": "Filter creator bookmarks by completion state. Omit to return all bookmarks.",
            "schema": { "type": "boolean" }
          }
        ],
        "responses": {
          "200": {
            "description": "Bookmarked content from the creator.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedItems" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/creators/{creatorId}/latest-content": {
      "get": {
        "tags": ["Creators"],
        "operationId": "getCreatorLatestContent",
        "summary": "Get a creator's latest content",
        "description": "Returns recent content from the creator's provider or discoverable feed when that source is supported.",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["bookmarks:read"],
        "x-api-status": "current",
        "parameters": [{ "$ref": "#/components/parameters/CreatorId" }],
        "responses": {
          "200": {
            "description": "Latest provider-backed content, or a reason it is unavailable.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatorLatestContentResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": {
            "description": "The provider is temporarily rate limited.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/v1/home": {
      "get": {
        "tags": ["Home"],
        "operationId": "getHome",
        "summary": "Get the Home dashboard",
        "description": "Returns recently opened and saved bookmarks, content-type shelves, custom collections, and the user's configured section order.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": ["bookmarks:read"],
        "x-api-status": "current",
        "responses": {
          "200": {
            "description": "Ordered Home dashboard content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HomeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/inbox": {
      "get": {
        "tags": ["Inbox"],
        "operationId": "listInbox",
        "summary": "List inbox items",
        "description": "Returns unfinished items currently in the inbox, sorted by most recently ingested first.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": ["bookmarks:read"],
        "x-api-status": "current",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Provider"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "responses": {
          "200": {
            "description": "Inbox items.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedItems"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/inbox/{id}/bookmark": {
      "post": {
        "tags": ["Inbox"],
        "operationId": "bookmarkInboxItem",
        "summary": "Move an inbox item to bookmarks",
        "description": "REST equivalent of tRPC items.bookmark for inbox triage clients.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": ["bookmarks:write"],
        "x-api-status": "current",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserItemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Item moved to bookmarks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/inbox/{id}/archive": {
      "post": {
        "tags": ["Inbox"],
        "operationId": "archiveInboxItem",
        "summary": "Archive an inbox item",
        "description": "REST equivalent of tRPC items.archive for dismissing inbox items.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": ["bookmarks:write"],
        "x-api-status": "current",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserItemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Item archived.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/bookmarks": {
      "get": {
        "tags": ["Bookmarks"],
        "operationId": "listBookmarks",
        "summary": "List bookmarks",
        "description": "Returns bookmarked items, sorted by most recently bookmarked first. Supports provider and contentType filters to match tRPC items.library.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": ["bookmarks:read"],
        "x-api-status": "current",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Search"
          },
          {
            "name": "isFinished",
            "in": "query",
            "description": "When true, returns finished bookmarks. When false or omitted, returns unfinished bookmarks.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/Provider"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "responses": {
          "200": {
            "description": "Bookmarked items.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedItems"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": ["Bookmarks"],
        "operationId": "saveBookmark",
        "summary": "Save a URL as a bookmark",
        "description": "Fetches a preview for the URL, creates or reuses the canonical item, and saves it as a bookmark for the token owner.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": ["bookmarks:write"],
        "x-api-status": "current",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveBookmarkRequest"
              },
              "examples": {
                "webArticle": {
                  "value": {
                    "url": "https://example.com/article"
                  }
                },
                "xPost": {
                  "value": {
                    "url": "https://x.com/example/status/1234567890"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bookmark saved, restored, or already present.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveBookmarkResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedUrl"
          }
        }
      }
    },
    "/api/v1/bookmarks/opened": {
      "get": {
        "tags": ["Bookmarks"],
        "operationId": "listOpenedBookmarks",
        "summary": "List opened bookmarks",
        "description": "Returns unfinished bookmarked items the user has opened, sorted by most recently opened first.",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["bookmarks:read"],
        "x-api-status": "current",
        "parameters": [
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Cursor" }
        ],
        "responses": {
          "200": {
            "description": "Opened bookmarked items.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedItems" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/bookmarks/quick-wins": {
      "get": {
        "tags": ["Bookmarks"],
        "operationId": "listQuickWinBookmarks",
        "summary": "List quick-win bookmarks",
        "description": "Returns unfinished bookmarks that take ten minutes or less, sorted by most recently saved first.",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["bookmarks:read"],
        "x-api-status": "current",
        "parameters": [
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Cursor" }
        ],
        "responses": {
          "200": {
            "description": "Quick-win bookmarked items.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedItems" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/collections/{id}/items": {
      "get": {
        "tags": ["Bookmarks"],
        "operationId": "listCollectionItems",
        "summary": "List collection items",
        "description": "Returns all bookmarks in a custom collection using the collection's configured sort order.",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["bookmarks:read"],
        "x-api-status": "current",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Cursor" }
        ],
        "responses": {
          "200": {
            "description": "Bookmarks in the collection.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedItems" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/bookmarks/preview": {
      "post": {
        "tags": ["Bookmarks"],
        "operationId": "previewBookmarkUrl",
        "summary": "Preview a URL before saving",
        "description": "Read-only REST equivalent of tRPC bookmarks.preview for clients that want confirmation UI before saving.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": ["bookmarks:write"],
        "x-api-status": "current",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewBookmarkRequest"
              },
              "examples": {
                "webArticle": {
                  "value": {
                    "url": "https://example.com/article"
                  }
                },
                "xPost": {
                  "value": {
                    "url": "https://x.com/example/status/1234567890"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preview metadata for the URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewBookmarkResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedUrl"
          }
        }
      }
    },
    "/api/v1/bookmarks/{id}": {
      "get": {
        "tags": ["Bookmarks"],
        "operationId": "getBookmark",
        "summary": "Get a bookmark",
        "description": "REST equivalent of tRPC items.get for a single bookmarked item.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": ["bookmarks:read"],
        "x-api-status": "current",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserItemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Bookmark item.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": ["Bookmarks"],
        "operationId": "updateBookmarkFinishedState",
        "summary": "Mark a bookmark as finished or unfinished",
        "description": "Sets the finished state for a bookmarked item; idempotent when the requested state already matches the stored state.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": ["bookmarks:write"],
        "x-api-status": "current",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserItemId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBookmarkFinishedStateRequest"
              },
              "examples": {
                "finished": {
                  "value": {
                    "isFinished": true
                  }
                },
                "unreadAlias": {
                  "value": {
                    "read": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bookmark finished state updated or already matched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBookmarkFinishedStateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": ["Bookmarks"],
        "operationId": "deleteBookmark",
        "summary": "Remove a bookmark",
        "description": "REST equivalent of tRPC items.unbookmark. Archives the user item and clears bookmarkedAt.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": ["bookmarks:write"],
        "x-api-status": "current",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserItemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Bookmark removed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/bookmarks/{id}/tags": {
      "put": {
        "tags": ["Tags"],
        "operationId": "setBookmarkTags",
        "summary": "Replace tags on a bookmark",
        "description": "REST equivalent of tRPC items.setTags.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": ["bookmarks:write"],
        "x-api-status": "current",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserItemId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetTagsRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "tags": ["design", "api"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags replaced.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetTagsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/bookmarks/{id}/opened": {
      "post": {
        "tags": ["Reading"],
        "operationId": "markBookmarkOpened",
        "summary": "Record that a bookmark was opened",
        "description": "REST equivalent of tRPC items.markOpened for detail views and external readers.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": ["bookmarks:write"],
        "x-api-status": "current",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserItemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Open event recorded when applicable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarkOpenedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/bookmarks/{id}/progress": {
      "put": {
        "tags": ["Reading"],
        "operationId": "updateBookmarkProgress",
        "summary": "Update reading or playback progress",
        "description": "REST equivalent of tRPC items.updateProgress.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": ["bookmarks:write"],
        "x-api-status": "current",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserItemId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProgressRequest"
              },
              "examples": {
                "video": {
                  "value": {
                    "position": 125.4,
                    "duration": 600
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Progress updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/bookmarks/{id}/article-content": {
      "get": {
        "tags": ["Reading"],
        "operationId": "getBookmarkArticleContent",
        "summary": "Get stored article content",
        "description": "REST equivalent of tRPC items.getArticleContent. Returns null content when no extracted article body is stored.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": ["bookmarks:read"],
        "x-api-status": "current",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserItemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Stored article content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleContentResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/tags": {
      "get": {
        "tags": ["Tags"],
        "operationId": "listTags",
        "summary": "List all tags",
        "description": "REST equivalent of tRPC items.listTags.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": ["bookmarks:read"],
        "x-api-status": "current",
        "responses": {
          "200": {
            "description": "Tags for the token owner.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTagsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/editorial/editions": {
      "get": {
        "tags": ["Editorial"],
        "operationId": "listEditorialEditions",
        "summary": "List daily editorial editions",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["bookmarks:read"],
        "x-api-status": "current",
        "parameters": [{ "$ref": "#/components/parameters/Limit" }],
        "responses": {
          "200": {
            "description": "Versioned editions for the token owner.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "editions": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/EditorialEditionSummary" }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "post": {
        "tags": ["Editorial"],
        "operationId": "publishEditorialEdition",
        "summary": "Publish a validated daily editorial edition",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["bookmarks:write"],
        "x-api-status": "current",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PublishEditorialEditionRequest" }
            }
          }
        },
        "responses": {
          "201": { "description": "Edition created." },
          "200": { "description": "Identical edition already existed." },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "409": { "description": "Edition ID already contains different content." }
        }
      }
    },
    "/api/v1/editorial/editions/latest": {
      "get": {
        "tags": ["Editorial"],
        "operationId": "getLatestEditorialEdition",
        "summary": "Get the latest daily editorial edition",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["bookmarks:read"],
        "x-api-status": "current",
        "responses": {
          "200": {
            "description": "Latest canonical JSON edition.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "edition": { "$ref": "#/components/schemas/EditorialEdition" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/editorial/editions/{id}": {
      "get": {
        "tags": ["Editorial"],
        "operationId": "getEditorialEdition",
        "summary": "Get one daily editorial edition",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["bookmarks:read"],
        "x-api-status": "current",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Canonical JSON edition.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "edition": { "$ref": "#/components/schemas/EditorialEdition" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/editorial/editions/{id}/artifacts/{artifact}": {
      "get": {
        "tags": ["Editorial"],
        "operationId": "getEditorialArtifact",
        "summary": "Get a retained editorial artifact",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["bookmarks:read"],
        "x-api-status": "current",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "artifact",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "enum": ["markdown", "snapshot", "validation"] }
          }
        ],
        "responses": {
          "200": { "description": "Requested retained artifact." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/subscriptions": {
      "get": {
        "tags": ["Subscriptions"],
        "operationId": "listSubscriptionSources",
        "summary": "List subscription sources and status summaries",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:read"],
        "x-api-status": "current",
        "responses": {
          "200": { "description": "YouTube, Spotify, Gmail, X, and RSS source summaries." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/subscriptions/spotify/connection/state": {
      "post": {
        "tags": ["Subscriptions"],
        "operationId": "registerSpotifyOAuthState",
        "summary": "Register Spotify OAuth state",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "requestBody": { "$ref": "#/components/requestBodies/OAuthState" },
        "responses": {
          "200": { "description": "OAuth state registered." },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/subscriptions/spotify/connection/callback": {
      "post": {
        "tags": ["Subscriptions"],
        "operationId": "completeSpotifyOAuth",
        "summary": "Complete Spotify OAuth",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "requestBody": { "$ref": "#/components/requestBodies/OAuthCallback" },
        "responses": {
          "200": { "description": "Spotify connected." },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/subscriptions/spotify/connection": {
      "delete": {
        "tags": ["Subscriptions"],
        "operationId": "disconnectSpotify",
        "summary": "Disconnect Spotify",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "responses": {
          "200": { "description": "Spotify disconnected." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/subscriptions/spotify": {
      "get": {
        "tags": ["Subscriptions"],
        "operationId": "listSpotifySubscriptions",
        "summary": "List current and available Spotify shows",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:read"],
        "responses": {
          "200": { "description": "Spotify connection and show subscription state." },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Subscriptions"],
        "operationId": "addSpotifySubscription",
        "summary": "Add a Spotify show",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "requestBody": { "$ref": "#/components/requestBodies/ProviderSubscription" },
        "responses": {
          "201": { "description": "Spotify show added." },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/subscriptions/spotify/{subscriptionId}": {
      "parameters": [{ "$ref": "#/components/parameters/SubscriptionId" }],
      "patch": {
        "tags": ["Subscriptions"],
        "operationId": "updateSpotifySubscription",
        "summary": "Pause or resume a Spotify show",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "requestBody": { "$ref": "#/components/requestBodies/PauseResume" },
        "responses": {
          "200": { "description": "Subscription updated." },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "tags": ["Subscriptions"],
        "operationId": "removeSpotifySubscription",
        "summary": "Remove a Spotify show",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "responses": {
          "200": { "description": "Subscription removed." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/subscriptions/spotify/{subscriptionId}/sync": {
      "post": {
        "tags": ["Subscriptions"],
        "operationId": "syncSpotifySubscription",
        "summary": "Sync a Spotify show now",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "parameters": [{ "$ref": "#/components/parameters/SubscriptionId" }],
        "responses": {
          "200": { "description": "Subscription synced." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/v1/subscriptions/gmail/connection/state": {
      "post": {
        "tags": ["Subscriptions"],
        "operationId": "registerGmailOAuthState",
        "summary": "Register Gmail OAuth state",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "requestBody": { "$ref": "#/components/requestBodies/OAuthState" },
        "responses": {
          "200": { "description": "OAuth state registered." },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/subscriptions/gmail/connection/callback": {
      "post": {
        "tags": ["Subscriptions"],
        "operationId": "completeGmailOAuth",
        "summary": "Complete Gmail OAuth",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "requestBody": { "$ref": "#/components/requestBodies/OAuthCallback" },
        "responses": {
          "200": { "description": "Gmail connected and newsletter discovery started." },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/subscriptions/gmail/connection": {
      "delete": {
        "tags": ["Subscriptions"],
        "operationId": "disconnectGmail",
        "summary": "Disconnect Gmail",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "responses": {
          "200": { "description": "Gmail disconnected." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/subscriptions/gmail": {
      "get": {
        "tags": ["Subscriptions"],
        "operationId": "listNewsletters",
        "summary": "List Gmail newsletters",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:read"],
        "responses": {
          "200": { "description": "Gmail connection, newsletter list, and statistics." },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/subscriptions/gmail/{feedId}": {
      "parameters": [{ "$ref": "#/components/parameters/FeedId" }],
      "patch": {
        "tags": ["Subscriptions"],
        "operationId": "updateNewsletter",
        "summary": "Activate or hide a newsletter",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "requestBody": { "$ref": "#/components/requestBodies/NewsletterAction" },
        "responses": {
          "200": { "description": "Newsletter updated." },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "tags": ["Subscriptions"],
        "operationId": "unsubscribeNewsletter",
        "summary": "Unsubscribe from a newsletter",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "responses": {
          "200": { "description": "Unsubscribe requested." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/subscriptions/gmail/sync": {
      "post": {
        "tags": ["Subscriptions"],
        "operationId": "syncNewsletters",
        "summary": "Sync Gmail newsletters now",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "responses": {
          "200": { "description": "Newsletter sync completed." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "412": { "description": "Gmail is not connected." }
        }
      }
    },
    "/api/v1/subscriptions/x/connection/state": {
      "post": {
        "tags": ["Subscriptions"],
        "operationId": "registerXOAuthState",
        "summary": "Register X OAuth state",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "requestBody": { "$ref": "#/components/requestBodies/OAuthState" },
        "responses": {
          "200": { "description": "OAuth state registered." },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/subscriptions/x/connection/callback": {
      "post": {
        "tags": ["Subscriptions"],
        "operationId": "completeXOAuth",
        "summary": "Complete X OAuth",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "requestBody": { "$ref": "#/components/requestBodies/OAuthCallback" },
        "responses": {
          "200": { "description": "X connected." },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/subscriptions/x/connection": {
      "delete": {
        "tags": ["Subscriptions"],
        "operationId": "disconnectX",
        "summary": "Disconnect X",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "responses": {
          "200": { "description": "X disconnected." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/subscriptions/x": {
      "get": {
        "tags": ["Subscriptions"],
        "operationId": "getXBookmarkStatus",
        "summary": "Get X bookmark sync status",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:read"],
        "responses": {
          "200": { "description": "X connection, imported count, and sync state." },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/subscriptions/x/settings": {
      "patch": {
        "tags": ["Subscriptions"],
        "operationId": "updateXBookmarkSettings",
        "summary": "Enable or disable daily X bookmark sync",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["dailySyncEnabled"],
                "additionalProperties": false,
                "properties": { "dailySyncEnabled": { "type": "boolean" } }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "X bookmark settings updated." },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/subscriptions/x/sync": {
      "post": {
        "tags": ["Subscriptions"],
        "operationId": "syncXBookmarks",
        "summary": "Sync X bookmarks now",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "responses": {
          "200": { "description": "X bookmark sync completed." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "412": { "description": "X is not connected." },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/v1/subscriptions/rss": {
      "get": {
        "tags": ["Subscriptions"],
        "operationId": "listRssSubscriptions",
        "summary": "List RSS feeds",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:read"],
        "responses": {
          "200": { "description": "RSS feed list and statistics." },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Subscriptions"],
        "operationId": "addRssSubscription",
        "summary": "Add an RSS feed",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["feedUrl"],
                "additionalProperties": false,
                "properties": {
                  "feedUrl": { "type": "string", "minLength": 1 },
                  "seedMode": { "type": "string", "enum": ["latest", "none"] }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "RSS feed added and validated." },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "412": { "description": "Feed validation failed." }
        }
      }
    },
    "/api/v1/subscriptions/rss/{feedId}": {
      "parameters": [{ "$ref": "#/components/parameters/FeedId" }],
      "patch": {
        "tags": ["Subscriptions"],
        "operationId": "updateRssSubscription",
        "summary": "Pause or resume an RSS feed",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "requestBody": { "$ref": "#/components/requestBodies/PauseResume" },
        "responses": {
          "200": { "description": "RSS feed updated." },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "tags": ["Subscriptions"],
        "operationId": "removeRssSubscription",
        "summary": "Remove an RSS feed",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "responses": {
          "200": { "description": "RSS feed removed." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/subscriptions/rss/{feedId}/sync": {
      "post": {
        "tags": ["Subscriptions"],
        "operationId": "syncRssSubscription",
        "summary": "Sync an RSS feed now",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "parameters": [{ "$ref": "#/components/parameters/FeedId" }],
        "responses": {
          "200": { "description": "RSS feed synced." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/v1/subscriptions/youtube/connection/state": {
      "post": {
        "tags": ["Subscriptions"],
        "operationId": "registerYouTubeOAuthState",
        "summary": "Register a YouTube OAuth state value",
        "description": "Stores a one-time CSRF state value before the native client opens Google authorization.",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "x-api-status": "current",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["state"],
                "additionalProperties": false,
                "properties": {
                  "state": { "type": "string", "minLength": 32, "maxLength": 128 }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "OAuth state registered." },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/subscriptions/youtube/connection/callback": {
      "post": {
        "tags": ["Subscriptions"],
        "operationId": "completeYouTubeOAuth",
        "summary": "Complete YouTube OAuth",
        "description": "Validates state, exchanges the authorization code using PKCE, and stores the encrypted provider connection.",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "x-api-status": "current",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["code", "state", "codeVerifier", "redirectUri"],
                "additionalProperties": false,
                "properties": {
                  "code": { "type": "string", "minLength": 1 },
                  "state": { "type": "string", "minLength": 32, "maxLength": 128 },
                  "codeVerifier": { "type": "string", "minLength": 43, "maxLength": 128 },
                  "redirectUri": { "type": "string", "minLength": 1 }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "YouTube connected." },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/subscriptions/youtube/connection": {
      "delete": {
        "tags": ["Subscriptions"],
        "operationId": "disconnectYouTube",
        "summary": "Disconnect YouTube",
        "description": "Revokes the provider token when possible, removes the encrypted connection, and marks YouTube subscriptions disconnected.",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "x-api-status": "current",
        "responses": {
          "200": { "description": "YouTube disconnected." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/subscriptions/youtube": {
      "get": {
        "tags": ["Subscriptions"],
        "operationId": "listYouTubeSubscriptions",
        "summary": "List current and available YouTube channels",
        "description": "Returns Zine's current YouTube subscriptions together with followed YouTube channels that can be added.",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:read"],
        "x-api-status": "current",
        "responses": {
          "200": {
            "description": "YouTube connection and subscription state.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["connection", "connectionRequired", "items", "requestId", "traceId"],
                  "properties": {
                    "connection": {
                      "oneOf": [
                        { "type": "null" },
                        {
                          "type": "object",
                          "required": ["status", "connectedAt"],
                          "properties": {
                            "status": { "type": "string" },
                            "providerUserId": { "type": ["string", "null"] },
                            "connectedAt": { "type": "integer" },
                            "lastRefreshedAt": { "type": ["integer", "null"] }
                          }
                        }
                      ]
                    },
                    "connectionRequired": { "type": "boolean" },
                    "items": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/YouTubeSubscription" }
                    },
                    "requestId": { "type": "string" },
                    "traceId": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "post": {
        "tags": ["Subscriptions"],
        "operationId": "addYouTubeSubscription",
        "summary": "Add a YouTube channel",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "x-api-status": "current",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["channelId"],
                "additionalProperties": false,
                "properties": {
                  "channelId": { "type": "string", "minLength": 1 },
                  "name": { "type": "string", "minLength": 1 },
                  "imageUrl": { "type": "string", "format": "uri" }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Subscription added." },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "412": { "description": "YouTube is not connected." }
        }
      }
    },
    "/api/v1/subscriptions/youtube/{subscriptionId}": {
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "required": true,
          "schema": { "type": "string" }
        }
      ],
      "patch": {
        "tags": ["Subscriptions"],
        "operationId": "updateYouTubeSubscription",
        "summary": "Pause or resume a YouTube subscription",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "x-api-status": "current",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action"],
                "additionalProperties": false,
                "properties": {
                  "action": { "type": "string", "enum": ["pause", "resume"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Subscription updated." },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "412": { "description": "YouTube is not connected." }
        }
      },
      "delete": {
        "tags": ["Subscriptions"],
        "operationId": "removeYouTubeSubscription",
        "summary": "Remove a YouTube subscription",
        "description": "Stops future ingestion, removes subscription-created inbox items, and preserves bookmarks.",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "x-api-status": "current",
        "responses": {
          "200": { "description": "Subscription removed." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/subscriptions/youtube/{subscriptionId}/sync": {
      "post": {
        "tags": ["Subscriptions"],
        "operationId": "syncYouTubeSubscription",
        "summary": "Sync one YouTube subscription now",
        "security": [{ "bearerAuth": [] }],
        "x-required-scopes": ["sync:write"],
        "x-api-status": "current",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Subscription synced." },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "412": { "description": "YouTube is not connected." },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/v1/sync-jobs": {
      "post": {
        "tags": ["Sync"],
        "operationId": "createSyncJob",
        "summary": "Trigger a subscription sync job",
        "description": "REST endpoint for the existing asynchronous subscription sync process. The current implementation syncs active YouTube and Spotify subscriptions; source filtering and all-provider inbox refresh orchestration remain future work.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": ["sync:write"],
        "x-api-status": "current",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSyncJobRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Sync job accepted, or an existing active job was returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncJobAccepted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/sync-jobs/active": {
      "get": {
        "tags": ["Sync"],
        "operationId": "getActiveSyncJob",
        "summary": "Get the active sync job",
        "description": "REST endpoint returning the token owner's active subscription sync job when one is still in progress.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": ["sync:read"],
        "x-api-status": "current",
        "responses": {
          "200": {
            "description": "Active sync job state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveSyncJob"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/sync-jobs/{jobId}": {
      "get": {
        "tags": ["Sync"],
        "operationId": "getSyncJob",
        "summary": "Get sync job status",
        "description": "REST endpoint returning status for a sync job owned by the token owner.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": ["sync:read"],
        "x-api-status": "current",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Sync job ID returned by POST /api/v1/sync-jobs.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sync job status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncJobStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Clerk session JWT or Zine personal access token",
        "description": "Use a Clerk session JWT for a signed-in Zine user, or a Zine personal access token with the required operation scope."
      }
    },
    "requestBodies": {
      "OAuthState": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": ["state"],
              "additionalProperties": false,
              "properties": {
                "state": { "type": "string", "minLength": 32, "maxLength": 128 }
              }
            }
          }
        }
      },
      "OAuthCallback": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": ["code", "state", "codeVerifier", "redirectUri"],
              "additionalProperties": false,
              "properties": {
                "code": { "type": "string", "minLength": 1 },
                "state": { "type": "string", "minLength": 32, "maxLength": 128 },
                "codeVerifier": { "type": "string", "minLength": 43, "maxLength": 128 },
                "redirectUri": { "type": "string", "minLength": 1 }
              }
            }
          }
        }
      },
      "ProviderSubscription": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": ["channelId"],
              "additionalProperties": false,
              "properties": {
                "channelId": { "type": "string", "minLength": 1 },
                "name": { "type": "string", "minLength": 1 },
                "imageUrl": { "type": "string", "format": "uri" }
              }
            }
          }
        }
      },
      "PauseResume": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": ["action"],
              "additionalProperties": false,
              "properties": {
                "action": { "type": "string", "enum": ["pause", "resume"] }
              }
            }
          }
        }
      },
      "NewsletterAction": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": ["action"],
              "additionalProperties": false,
              "properties": {
                "action": { "type": "string", "enum": ["activate", "hide"] }
              }
            }
          }
        }
      }
    },
    "parameters": {
      "SubscriptionId": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "schema": { "type": "string" }
      },
      "FeedId": {
        "name": "feedId",
        "in": "path",
        "required": true,
        "schema": { "type": "string" }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "description": "Maximum number of items to return. Defaults to 10.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 10
        }
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "description": "Cursor returned by the previous page.",
        "schema": {
          "type": "string"
        }
      },
      "Search": {
        "name": "search",
        "in": "query",
        "description": "Case-insensitive title or creator search.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 100
        }
      },
      "Provider": {
        "name": "provider",
        "in": "query",
        "description": "Filter items by source provider.",
        "schema": {
          "type": "string",
          "enum": ["YOUTUBE", "SPOTIFY", "GMAIL", "RSS", "SUBSTACK", "WEB", "X"]
        }
      },
      "ContentType": {
        "name": "contentType",
        "in": "query",
        "description": "Filter items by content type.",
        "schema": {
          "type": "string",
          "enum": ["VIDEO", "PODCAST", "ARTICLE", "POST"]
        }
      },
      "UserItemId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "User item ID.",
        "schema": {
          "type": "string"
        }
      },
      "CreatorId": {
        "name": "creatorId",
        "in": "path",
        "required": true,
        "description": "Stable creator ID attached to an item.",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "ValidationError": {
        "description": "Invalid request body or query parameters.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing, malformed, expired, revoked, or unknown token.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Token is missing the required scope.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found for this token owner.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "UnsupportedUrl": {
        "description": "URL could not be previewed or is unsupported.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "A sync job was started too recently.",
        "headers": {
          "Retry-After": {
            "description": "Seconds to wait before retrying.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RateLimitError"
            }
          }
        }
      }
    },
    "schemas": {
      "EditorialEditionSummary": {
        "type": "object",
        "required": ["id", "editionDate", "revision", "status", "headline", "qualityScore"],
        "properties": {
          "id": { "type": "string" },
          "editionDate": { "type": "string", "format": "date" },
          "revision": { "type": "integer", "minimum": 1 },
          "status": { "type": "string", "enum": ["PUBLISHED"] },
          "headline": { "type": "string" },
          "qualityScore": { "type": "number", "minimum": 0, "maximum": 100 }
        }
      },
      "EditorialEdition": {
        "type": "object",
        "additionalProperties": true,
        "description": "Canonical versioned DailyEdition document defined by @zine/editorial-schema."
      },
      "PublishEditorialEditionRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["edition", "snapshot", "validation", "markdown"],
        "properties": {
          "edition": { "$ref": "#/components/schemas/EditorialEdition" },
          "snapshot": { "type": "object", "additionalProperties": true },
          "validation": { "type": "object", "additionalProperties": true },
          "markdown": { "type": "string" }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "code", "requestId", "traceId"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error summary."
          },
          "code": {
            "type": "string",
            "description": "Stable machine-readable error code."
          },
          "requestId": {
            "type": "string"
          },
          "traceId": {
            "type": "string"
          }
        }
      },
      "ValidationError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Error"
          },
          {
            "type": "object",
            "properties": {
              "issues": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                },
                "description": "Zod validation issues for the request."
              }
            }
          }
        ]
      },
      "RequestMetadata": {
        "type": "object",
        "required": ["requestId", "traceId"],
        "properties": {
          "requestId": {
            "type": "string"
          },
          "traceId": {
            "type": "string"
          }
        }
      },
      "Creator": {
        "type": "object",
        "required": [
          "id",
          "name",
          "imageUrl",
          "provider",
          "providerCreatorId",
          "description",
          "handle",
          "externalUrl",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "imageUrl": { "type": ["string", "null"], "format": "uri" },
          "provider": {
            "type": "string",
            "enum": ["YOUTUBE", "SPOTIFY", "GMAIL", "RSS", "SUBSTACK", "WEB", "X"]
          },
          "providerCreatorId": { "type": "string" },
          "description": { "type": ["string", "null"] },
          "handle": { "type": ["string", "null"] },
          "externalUrl": { "type": ["string", "null"], "format": "uri" },
          "createdAt": { "type": "integer" },
          "updatedAt": { "type": "integer" }
        }
      },
      "CreatorResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/RequestMetadata" },
          {
            "type": "object",
            "required": ["creator"],
            "properties": {
              "creator": { "$ref": "#/components/schemas/Creator" }
            }
          }
        ]
      },
      "CreatorLatestContentItem": {
        "type": "object",
        "required": [
          "id",
          "title",
          "description",
          "thumbnailUrl",
          "publishedAt",
          "externalUrl",
          "duration",
          "isBookmarked"
        ],
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "description": { "type": ["string", "null"] },
          "thumbnailUrl": { "type": ["string", "null"], "format": "uri" },
          "publishedAt": { "type": "integer", "description": "Unix time in milliseconds." },
          "externalUrl": { "type": "string", "format": "uri" },
          "duration": { "type": ["integer", "null"], "minimum": 0 },
          "itemId": { "type": ["string", "null"] },
          "isBookmarked": { "type": "boolean" }
        }
      },
      "CreatorLatestContentResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/RequestMetadata" },
          {
            "type": "object",
            "required": ["items", "provider"],
            "properties": {
              "items": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/CreatorLatestContentItem" }
              },
              "provider": { "type": "string" },
              "cacheStatus": { "type": "string", "enum": ["HIT", "MISS"] },
              "reason": {
                "type": "string",
                "enum": ["PROVIDER_NOT_SUPPORTED", "NOT_CONNECTED", "TOKEN_EXPIRED", "RATE_LIMITED"]
              },
              "connectUrl": { "type": "string", "format": "uri" }
            }
          }
        ]
      },
      "Tag": {
        "type": "object",
        "required": ["id", "name"],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Item": {
        "type": "object",
        "required": [
          "id",
          "itemId",
          "title",
          "thumbnailUrl",
          "canonicalUrl",
          "contentType",
          "provider",
          "creator",
          "creatorImageUrl",
          "creatorId",
          "publisher",
          "summary",
          "duration",
          "publishedAt",
          "wordCount",
          "readingTimeMinutes",
          "state",
          "ingestedAt",
          "bookmarkedAt",
          "lastOpenedAt",
          "progress",
          "isFinished",
          "finishedAt",
          "tags"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "User item ID."
          },
          "itemId": {
            "type": "string",
            "description": "Canonical item ID shared across users."
          },
          "title": {
            "type": "string"
          },
          "thumbnailUrl": {
            "type": ["string", "null"],
            "format": "uri"
          },
          "canonicalUrl": {
            "type": "string",
            "format": "uri"
          },
          "contentType": {
            "type": "string",
            "enum": ["VIDEO", "PODCAST", "ARTICLE", "POST"]
          },
          "provider": {
            "type": "string",
            "enum": ["YOUTUBE", "SPOTIFY", "GMAIL", "RSS", "SUBSTACK", "WEB", "X"]
          },
          "creator": {
            "type": "string"
          },
          "creatorImageUrl": {
            "type": ["string", "null"],
            "format": "uri"
          },
          "creatorId": {
            "type": ["string", "null"]
          },
          "publisher": {
            "type": ["string", "null"]
          },
          "summary": {
            "type": ["string", "null"]
          },
          "duration": {
            "type": ["integer", "null"],
            "minimum": 0
          },
          "publishedAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "wordCount": {
            "type": ["integer", "null"],
            "minimum": 0
          },
          "readingTimeMinutes": {
            "type": ["integer", "null"],
            "minimum": 0
          },
          "state": {
            "type": "string",
            "enum": ["INBOX", "BOOKMARKED", "ARCHIVED"]
          },
          "ingestedAt": {
            "type": "string",
            "format": "date-time"
          },
          "bookmarkedAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "lastOpenedAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "progress": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "required": ["position", "duration", "percent"],
                "properties": {
                  "position": {
                    "type": "number",
                    "minimum": 0
                  },
                  "duration": {
                    "type": "number",
                    "minimum": 0
                  },
                  "percent": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100
                  }
                }
              }
            ]
          },
          "isFinished": {
            "type": "boolean"
          },
          "finishedAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          }
        }
      },
      "HomeItem": {
        "type": "object",
        "required": [
          "id",
          "itemId",
          "title",
          "thumbnailUrl",
          "canonicalUrl",
          "contentType",
          "provider",
          "creator",
          "creatorImageUrl",
          "creatorId",
          "publisher",
          "summary",
          "duration",
          "publishedAt",
          "readingTimeMinutes",
          "bookmarkedAt",
          "lastOpenedAt",
          "progress"
        ],
        "properties": {
          "id": { "type": "string", "description": "User item ID." },
          "itemId": { "type": "string", "description": "Canonical item ID." },
          "title": { "type": "string" },
          "thumbnailUrl": { "type": ["string", "null"], "format": "uri" },
          "canonicalUrl": { "type": "string", "format": "uri" },
          "contentType": {
            "type": "string",
            "enum": ["VIDEO", "PODCAST", "ARTICLE", "POST"]
          },
          "provider": {
            "type": "string",
            "enum": ["YOUTUBE", "SPOTIFY", "GMAIL", "RSS", "SUBSTACK", "WEB", "X"]
          },
          "creator": { "type": "string" },
          "creatorImageUrl": { "type": ["string", "null"], "format": "uri" },
          "creatorId": { "type": ["string", "null"] },
          "publisher": { "type": ["string", "null"] },
          "summary": { "type": ["string", "null"] },
          "duration": { "type": ["integer", "null"], "minimum": 0 },
          "publishedAt": { "type": ["string", "null"], "format": "date-time" },
          "readingTimeMinutes": { "type": ["integer", "null"], "minimum": 0 },
          "bookmarkedAt": { "type": ["string", "null"], "format": "date-time" },
          "lastOpenedAt": { "type": ["string", "null"], "format": "date-time" },
          "progress": {
            "oneOf": [
              { "type": "null" },
              {
                "type": "object",
                "required": ["position", "duration", "percent"],
                "properties": {
                  "position": { "type": "number", "minimum": 0 },
                  "duration": { "type": "number", "minimum": 0 },
                  "percent": { "type": "number", "minimum": 0, "maximum": 100 }
                }
              }
            ]
          }
        }
      },
      "HomeCollection": {
        "type": "object",
        "required": ["collectionId", "title", "layout", "position", "count", "items"],
        "properties": {
          "collectionId": { "type": "string" },
          "title": { "type": "string" },
          "layout": {
            "type": "string",
            "enum": ["STACK_RAIL", "COVER_RAIL", "ROW_GRID", "COMPACT_LIST"]
          },
          "position": { "type": "integer", "minimum": 0 },
          "count": { "type": "integer", "minimum": 0 },
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/HomeItem" }
          }
        }
      },
      "HomeLayoutSection": {
        "oneOf": [
          {
            "type": "object",
            "required": ["kind", "builtInSection"],
            "properties": {
              "kind": { "type": "string", "const": "BUILT_IN" },
              "builtInSection": {
                "type": "string",
                "enum": [
                  "JUMP_BACK_IN",
                  "RECENTLY_BOOKMARKED",
                  "INBOX",
                  "PODCASTS",
                  "ARTICLES",
                  "VIDEOS"
                ]
              }
            }
          },
          {
            "type": "object",
            "required": ["kind", "collectionId"],
            "properties": {
              "kind": { "type": "string", "const": "COLLECTION" },
              "collectionId": { "type": "string" }
            }
          }
        ]
      },
      "HomeResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/RequestMetadata" },
          {
            "type": "object",
            "required": [
              "recentBookmarks",
              "jumpBackIn",
              "byContentType",
              "customCollections",
              "sectionOrder"
            ],
            "properties": {
              "recentBookmarks": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/HomeItem" }
              },
              "jumpBackIn": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/HomeItem" }
              },
              "byContentType": {
                "type": "object",
                "required": ["videos", "podcasts", "articles"],
                "properties": {
                  "videos": {
                    "type": "array",
                    "items": { "$ref": "#/components/schemas/HomeItem" }
                  },
                  "podcasts": {
                    "type": "array",
                    "items": { "$ref": "#/components/schemas/HomeItem" }
                  },
                  "articles": {
                    "type": "array",
                    "items": { "$ref": "#/components/schemas/HomeItem" }
                  }
                }
              },
              "customCollections": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/HomeCollection" }
              },
              "sectionOrder": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/HomeLayoutSection" }
              }
            }
          }
        ]
      },
      "PaginatedItems": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RequestMetadata"
          },
          {
            "type": "object",
            "required": ["items", "nextCursor"],
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Item"
                }
              },
              "nextCursor": {
                "type": ["string", "null"],
                "description": "Cursor to pass to the next request. Null means there are no more items."
              }
            }
          }
        ]
      },
      "ItemResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RequestMetadata"
          },
          {
            "type": "object",
            "required": ["item"],
            "properties": {
              "item": {
                "$ref": "#/components/schemas/Item"
              }
            }
          }
        ]
      },
      "SaveBookmarkRequest": {
        "type": "object",
        "required": ["url"],
        "additionalProperties": false,
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "HTTP or HTTPS URL to save."
          },
          "tags": {
            "type": "array",
            "description": "Optional tag names to add to the saved bookmark.",
            "maxItems": 20,
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            }
          }
        }
      },
      "PreviewBookmarkRequest": {
        "type": "object",
        "required": ["url"],
        "additionalProperties": false,
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "HTTP or HTTPS URL to preview."
          }
        }
      },
      "PreviewItem": {
        "type": "object",
        "required": [
          "provider",
          "contentType",
          "providerId",
          "title",
          "creator",
          "creatorImageUrl",
          "thumbnailUrl",
          "duration",
          "canonicalUrl",
          "description",
          "siteName",
          "wordCount",
          "readingTimeMinutes",
          "publishedAt"
        ],
        "properties": {
          "provider": {
            "type": "string",
            "enum": ["YOUTUBE", "SPOTIFY", "GMAIL", "RSS", "SUBSTACK", "WEB", "X"]
          },
          "contentType": {
            "type": "string",
            "enum": ["VIDEO", "PODCAST", "ARTICLE", "POST"]
          },
          "providerId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "creator": {
            "type": "string"
          },
          "creatorImageUrl": {
            "type": ["string", "null"],
            "format": "uri"
          },
          "thumbnailUrl": {
            "type": ["string", "null"],
            "format": "uri"
          },
          "duration": {
            "type": ["integer", "null"],
            "minimum": 0
          },
          "canonicalUrl": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": ["string", "null"]
          },
          "siteName": {
            "type": ["string", "null"]
          },
          "wordCount": {
            "type": ["integer", "null"],
            "minimum": 0
          },
          "readingTimeMinutes": {
            "type": ["integer", "null"],
            "minimum": 0
          },
          "publishedAt": {
            "type": ["string", "null"],
            "format": "date-time"
          }
        }
      },
      "PreviewBookmarkResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RequestMetadata"
          },
          {
            "type": "object",
            "required": ["item"],
            "properties": {
              "item": {
                "$ref": "#/components/schemas/PreviewItem"
              }
            }
          }
        ]
      },
      "BookmarkSaveResult": {
        "type": "object",
        "required": ["itemId", "userItemId", "status"],
        "properties": {
          "itemId": {
            "type": "string"
          },
          "userItemId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["created", "already_bookmarked", "rebookmarked"]
          }
        }
      },
      "SaveBookmarkResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RequestMetadata"
          },
          {
            "type": "object",
            "required": ["bookmark", "item"],
            "properties": {
              "bookmark": {
                "$ref": "#/components/schemas/BookmarkSaveResult"
              },
              "item": {
                "$ref": "#/components/schemas/PreviewItem"
              }
            }
          }
        ]
      },
      "UpdateBookmarkFinishedStateRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Provide exactly one alias. All aliases set the same bookmark finished state.",
        "minProperties": 1,
        "maxProperties": 1,
        "properties": {
          "isFinished": {
            "type": "boolean"
          },
          "finished": {
            "type": "boolean"
          },
          "completed": {
            "type": "boolean"
          },
          "read": {
            "type": "boolean"
          }
        }
      },
      "UpdateBookmarkFinishedStateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RequestMetadata"
          },
          {
            "type": "object",
            "required": ["bookmark"],
            "properties": {
              "bookmark": {
                "type": "object",
                "required": ["id", "itemId", "isFinished", "finishedAt"],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "itemId": {
                    "type": "string"
                  },
                  "isFinished": {
                    "type": "boolean"
                  },
                  "finishedAt": {
                    "type": ["string", "null"],
                    "format": "date-time"
                  }
                }
              }
            }
          }
        ]
      },
      "ActionResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RequestMetadata"
          },
          {
            "type": "object",
            "required": ["success"],
            "properties": {
              "success": {
                "type": "boolean",
                "const": true
              }
            }
          }
        ]
      },
      "SetTagsRequest": {
        "type": "object",
        "required": ["tags"],
        "additionalProperties": false,
        "properties": {
          "tags": {
            "type": "array",
            "maxItems": 20,
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            }
          }
        }
      },
      "SetTagsResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RequestMetadata"
          },
          {
            "type": "object",
            "required": ["success", "tags"],
            "properties": {
              "success": {
                "type": "boolean",
                "const": true
              },
              "tags": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          }
        ]
      },
      "ListTagsResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RequestMetadata"
          },
          {
            "type": "object",
            "required": ["tags"],
            "properties": {
              "tags": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          }
        ]
      },
      "MarkOpenedResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RequestMetadata"
          },
          {
            "type": "object",
            "required": ["success", "updated"],
            "properties": {
              "success": {
                "type": "boolean",
                "const": true
              },
              "updated": {
                "type": "boolean"
              },
              "lastOpenedAt": {
                "type": ["string", "null"],
                "format": "date-time"
              }
            }
          }
        ]
      },
      "UpdateProgressRequest": {
        "type": "object",
        "required": ["position", "duration"],
        "additionalProperties": false,
        "properties": {
          "position": {
            "type": "number",
            "minimum": 0
          },
          "duration": {
            "type": "number",
            "minimum": 0
          }
        }
      },
      "ArticleContentResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RequestMetadata"
          },
          {
            "type": "object",
            "required": ["content"],
            "properties": {
              "content": {
                "type": ["string", "null"],
                "description": "Stored article HTML or null."
              }
            }
          }
        ]
      },
      "YouTubeSubscription": {
        "type": "object",
        "required": [
          "subscriptionId",
          "channelId",
          "name",
          "imageUrl",
          "status",
          "isSubscribed",
          "lastPolledAt"
        ],
        "properties": {
          "subscriptionId": { "type": ["string", "null"] },
          "channelId": { "type": "string" },
          "name": { "type": "string" },
          "imageUrl": { "type": ["string", "null"], "format": "uri" },
          "status": {
            "type": ["string", "null"],
            "enum": ["ACTIVE", "PAUSED", "DISCONNECTED", null]
          },
          "isSubscribed": { "type": "boolean" },
          "lastPolledAt": { "type": ["integer", "null"] }
        }
      },
      "CreateSyncJobRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Reserved for future sync options. Omit the body or send an empty object in the current API.",
        "properties": {}
      },
      "RateLimitError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Error"
          },
          {
            "type": "object",
            "properties": {
              "retryAfterSeconds": {
                "type": "integer",
                "minimum": 1,
                "description": "Seconds to wait before retrying, when known."
              }
            }
          }
        ]
      },
      "SyncTelemetry": {
        "type": "object",
        "additionalProperties": true,
        "description": "Optional sync telemetry fields emitted by the worker."
      },
      "SyncJobAccepted": {
        "type": "object",
        "required": ["jobId", "total", "existing", "requestId", "traceId"],
        "properties": {
          "jobId": {
            "type": "string"
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of subscriptions queued for the job."
          },
          "existing": {
            "type": "boolean",
            "description": "True when an active job already existed and was returned."
          },
          "telemetry": {
            "$ref": "#/components/schemas/SyncTelemetry"
          },
          "requestId": {
            "type": "string"
          },
          "traceId": {
            "type": "string"
          }
        }
      },
      "ActiveSyncJob": {
        "type": "object",
        "required": ["inProgress", "requestId", "traceId"],
        "properties": {
          "inProgress": {
            "type": "boolean"
          },
          "jobId": {
            "type": "string"
          },
          "progress": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "total": {
                "type": "integer",
                "minimum": 0
              },
              "completed": {
                "type": "integer",
                "minimum": 0
              },
              "status": {
                "type": "string"
              }
            }
          },
          "telemetry": {
            "$ref": "#/components/schemas/SyncTelemetry"
          },
          "requestId": {
            "type": "string"
          },
          "traceId": {
            "type": "string"
          }
        }
[...]
