ZINE_API_BASE_URL = https:/$()/api.myzine.app
ZINE_CLERK_PUBLISHABLE_KEY = pk_live_Y2xlcmsubXl6aW5lLmFwcCQ
ZINE_GOOGLE_CLIENT_ID = 973421703522-58dfb15bdqdhvhs2r9tt88ubgg45dkq1.apps.googleusercontent.com
ZINE_GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.973421703522-58dfb15bdqdhvhs2r9tt88ubgg45dkq1
ZINE_SPOTIFY_CLIENT_ID = 4ce6c1f9fabe407ea4b2be0479dd63ff
ZINE_X_CLIENT_ID = Vjd5eEktRTNoRDVZSm1aNGNvSWo6MTpjaQ

#include? "Local.xcconfig"
